// start of sass code By: Delink
// =============================

// VARIABLES

$black: #333
$pale: #d2e1dd
$pink: #c69
$blue: #036

$font-stack: 'Andale Mono', monospace
$font-size: 14px

// MIXINS




// SASS STYLES

body
	background: $pale
	color: $black
	font-family: $font-stack
	font-size: $font-size

article
	background: #fff
	width: 760px
	margin: 0 auto
	padding: 40px
	box-sizing: border-box